
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet"  href="./home.component.css">
</head>
<body>

    <h1 class="topbaner">
    <a  href="http://ftn.uns.ac.rs/691618389/fakultet-tehnickih-nauka">
    <img class="logo" src="assets\ftnlogo.png" width="120" height="60">
    </a>
        Home
  </h1>

 <div class="container">

  <br><br>
  <div class="one">Ovo je home stranica, kojoj se može pristupiti klikom na ikonicu u obliku kućice.
  </div>
  <img class="delfin" src="assets\dolphin.gif" width="400" height="400">
  <div class="two">Takođe se na ovu stranu preusmeravaju korisnici koji unesu putanje  koje se ne uklapaju sa predefinisanim putanjama.
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>
  <div class="three">Stranica je sačinjena od 3 div-a, koji predstavljaju 3 flex box segmenta, 3 kutije za sadrzaj, koji pripadaju jednom container-u.
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>

 </div>


</body>
</html>
