<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet"  href="./author.component.css">
</head>
<body>

    <h1 class="topbaner">
    <a  href="http://ftn.uns.ac.rs/691618389/fakultet-tehnickih-nauka">
    <img class="logo" src="assets\ftnlogo.png" width="120" height="60">
    </a>
        O autoru
  </h1>



  <br><br>

    <h2 class="ime">
      Nikola Gospođinački
    </h2>
    <div class="tekst">
      <p class="kosam">Nikola je student četvrte godine industrijskog inženjerstva na fakultetu tehničkih nauka.</p>
    <img class="profilna" src="assets/profilna.jpg">
    <ul class="lista">
      <h3 class="vrhliste">Sposobnosti:</h3>
      <li>Praćenje dugih pisanih i video tutorijala</li>
      <br>
      <li>Višesatna pretraga interneta za rešenja na najjednostovnije programerske probleme</li>
      <br>
      <li>Kontaktiranje predmetnog asistenta preko e-mail-a radi razrešavanja problema koji zahtevaju 10+ koraka, uz dostavljanje nedovoljno
        detaljnog objašnjena problema </li>
    </ul>


    </div>


  <div class="two">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>
  <div class="three">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>




</body>
</html>
