body{
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.container{
  display: flex;
  flex-flow: column wrap;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  text-align: center;
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.one {
  flex: 1;
}

.two {
  flex: 1;
}

.three {
  flex: 1;
}
.logo {
  max-width: 100%;
  height: auto;
  align-items: flex-start;
  float:left;
}
.topbaner{
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  border-top: 5%;
  text-align-last:center ;
}
